# Misc
/zig-cache



# Prerequisites
*.d

# Object files
*.o

# Linker output

# Precompiled Headers

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)

# Executables
main
# Debug files

# Kernel Module Compile Results
